[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
psycopg2-binary = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
